body {
  background-color: #161616;
  color: #fff;
}

form {
  max-width: 400px;
}
form label {
  color: #fff;
}
form .form-control {
  margin-bottom: 8px;
}

footer {
  color: #ddd;
  font-size: 10px;
  text-align: center;
}

section.admin-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  background-color: #161616;
}
section .social-media {
  display: inline;
  position: relative;
  left: 94%;
  top: 55px;
}
section .social-media a {
  color: #ddd;
}
section .social-media a i {
  margin-left: 4px;
}
section ul.nav {
  margin-top: 20px;
  background-color: transparent;
  border-bottom: 1px solid #222;
}
section ul.nav .nav-link {
  background-color: #242F37;
  color: #999;
}
section ul.nav .nav-link.active {
  background-color: #e0e0e0;
  color: #4e4e4e;
}