body {
    background-color: $bg-primary;
    color: $text-primary;
}

form {
    width: 400px;

    label {
        color: $text-primary;
    }

    .form-control {
        margin-bottom: 8px;
    }
}

footer {
    color: #ddd;
    font-size: 10px;
    text-align: center;
}

section {
    .header-container {
        display: flex;
        justify-content: space-between;
    }
}

.highlight {
    color: yellow;
}